<video autoplay></video>
<img src="">
<canvas width="500px" height="400px" style="display:none;"></canvas>

<div>
  <button type="button">Take Photo!</button>
  <span id="countdown" style="display:none"></span>
</div>

<%= form_tag '/photos' do %>
  <%= hidden_field_tag :photo_url %>
  <%= hidden_field_tag :album_id, @album.id %>
  <%= submit_tag 'Save photo' %>
<% end %>

<%= javascript_include_tag "photobooth" %>