<%= render 'my_albums_header' %>

<% if @albums.empty? %>
  <div class="row">
    <div class="col-md-12">
      <p><strong>No albums yet.</strong></p>
      <%= link_to 'Create a new album', new_album_path, class: 'btn btn-primary' %>
    </div>
  </div>
<% else %>
  <div class="row">
    <% @albums.reverse.each do |album| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to(image_tag(album.photos.first ? album.photos.first.url : 'placeholder.png'), album_path(album)) %>
          <div class="caption">
            <h3><%= link_to album.title, album_path(album) %></h3>
            <p class="hidden-xs">
              <%= link_to 'View', album_path(album), class: 'btn btn-info btn-sm' %>
              <%= link_to content_tag(:span, nil, class: 'glyphicon glyphicon-share-alt'), '#', class: 'btn btn-default btn-sm' %>
              <%= link_to content_tag(:span, nil, class: 'glyphicon glyphicon-pencil'), edit_album_path(album), class: 'btn btn-default btn-sm' %>
              <%= link_to content_tag(:span, nil, class: 'glyphicon glyphicon-remove'), '#', class: 'btn btn-default btn-sm' %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>