<div>
  <h2><%= @album.title %></h2>
  <strong><%= @username %></strong>
</div>

<video class="video" width="700px" height="526px" autoplay></video>
<img src="" class="snapshot" width="700px" height="526px">

<div>
  <canvas width="700px" height="526px" style="display:none;"></canvas>
</div>

<div class="controls">
  <div class="countdown">
    <button type="button" class="btn btn-default">Start countdown!</button>
    <span id="countdown" style="display:none"></span>
  </div>

  <%= form_tag '/photos' do %>
    <%= hidden_field_tag :image_data_url %>
    <%= hidden_field_tag :album_id, @album.id %>
    <%= submit_tag 'Save photo', class: 'btn btn-success' %>
  <% end %>
</div>

<%= javascript_include_tag "photobooth" %>