<div>
  <h2><%= @album.title %></h2>
  <strong><%= @username %></strong>
</div>

<%= link_to 'Take some photos', "/albums/#{@album.id}/photobooth", class: 'btn btn-primary btn-lg' %>

<div>
  <% if @album_photos.empty? %>
    You don't have any photos yet. Click the button above to start!
  <% else %>
    <%= @album_photos.reverse.map do |photo| %>
      <%= image_tag photo.url %>
    <% end %>
  <% end %>
</div>