<div>
  Album title: <%= @album.title %><br />
  Created by: <%= @album.user.email %>
</div>

<%= render 'photo_booth' %>

<div>
  <% if @album_photos.empty? %>
    blah
  <% else %>
    <%= @album_photos.map do |photo| %>
      <%= image_tag photo.url %>
    <% end %>
  <% end %>
</div>