<div>
  <h2><%= @album.title %></h2>
  <h3><%= @username %></h3>
</div>

<%= render 'photo_booth' %>

<div>
  <% if @album_photos.empty? %>
    Start taking some photos! Click the "Take Photo" button above.
  <% else %>
    <%= @album_photos.reverse.map do |photo| %>
      <%= image_tag photo.url %>
    <% end %>
  <% end %>
</div>