<!DOCTYPE html>
<html>
  <head>
    <title>Photo Booth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <header class="row">
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <%= link_to 'Photo Booth', root_path, class: 'navbar-brand' %>
          </div>

          <ul class="nav navbar-nav navbar-left">
            <% if !user_signed_in? %>
              <li><%= link_to 'Sign up', new_user_registration_path %></li>
              <li><%= link_to 'Log in', new_user_session_path %></li>
            <% else %>
              <li><%= link_to 'My albums', '#' %></li>
              <li><%= link_to 'New album', new_album_path %></li>
            <% end %>
          </ul>

          <% if user_signed_in? %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
            </ul>
          <% end %>
        </nav>

        <%= render 'layouts/messages' %>
      </header>

      <%= yield %>
    </div>
  </body>
</html>
