<!DOCTYPE html>
<html>
  <%= favicon_link_tag %>
  <head>
    <title>Photo Booth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <header class="row">
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <%= link_to 'Photo Booth', root_path, class: 'navbar-brand' %>
          </div>

          <% if user_signed_in? %>
            <ul class="nav navbar-nav navbar-left">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My albums <b class="caret"></b></a>

                <ul class="dropdown-menu">
                  <% if current_user.albums.empty? %>
                    <li><span class="no-albums">No albums yet.</span></li>
                  <% else %>
                    <% current_user.albums.first(5).each do |album| %>
                      <li><%= link_to album.title, album %></li>
                    <% end %>
                    <li class="divider"></li>
                    <li><%= link_to "See all (#{current_user.albums.count})", albums_path %></li>
                  <% end %>
                </ul>
              </li>

              <li><%= link_to 'New album', new_album_path %></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
            </ul>
          <% end %>
        </nav>

        <%= render 'layouts/messages' %>
      </header>

      <%= yield %>
    </div>
  </body>
</html>
